
.header {
	background-color: #ccc;
	padding: 0.5em;
	font-family: sans-serif;
}

.header .buttons {
	float: right;
}

.header h2 {
	margin: 0;
}

.screen {
	height: 200px;
	background-color: black;
	padding: 4px;
	overflow: auto;
	margin-bottom: 20px;
}

.screen div {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: black;
	color: #bbb;
	line-height: 1.2;
	white-space: pre-wrap;
	font-family: monospace;
}
