.header {
	background-color: #ccc;
	padding: 1em;
}

.header .buttons {
	float: right;
}

.header h2 {
	margin: 0;
}

.screen {
	height: 400px;
	background-color: black;
	padding: 4px;
	overflow: auto;
}

.screen div {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: black;
	color: #bbb;
	line-height: 1.2;
	white-space: pre-wrap;
	xfont-size: 20px;
	font-family: monospace;
}
